<!-- <p>
    <mat-toolbar color="accent">
        <button mat-button>Menu</button><span>My Application</span>
    </mat-toolbar>
</p> -->

<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App</span> &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" routerLink="/post-create/:id">
          <mat-icon>add_box</mat-icon>Create</button>
         <ul class="nav navbar-nav" style="float:right">
        <li *ngIf="!userAuthenticated"><a routerLink="login">Login</a></li>
        <li *ngIf="!userAuthenticated"><a routerLink="signup">Sign-Up</a></li>
        <li *ngIf="userAuthenticated"><button type="submit" style="margin-top:10px" (click)="logout()">Logout</button></li>
      </ul>
      </mat-toolbar-row>
  
      
    </mat-toolbar>
  </p>
  