:host {
    display: block;
    margin-top: 1rem;
}
.info-text {
    text-align: center;
}


/* post-list.component.css */
textarea, mat-form-field {
    width: 100%;
    margin: auto;
}
   .mat-action-row {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 16px;
   }
   
   .mat-action-row button {
    margin-left: 8px;
   }

   .post-image {
    width: 200px;
    height: 200px;
}

.card {
    max-width: 800px;
    margin: auto;
  padding: 10px;

  }

