<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
<mat-form-field>
    <input matInput 
            type="text"
            name="title"
            ngModel
            required
            #title="ngModel"/>
    <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
</mat-form-field>
<mat-form-field>
    <textarea matInput
            rows="4"
            name="content"
            ngModel
            required
            #content="ngModel"></textarea>
    <mat-error *ngIf="content.invalid">Content is empty</mat-error>
</mat-form-field>
<!-- Image input -->

<mat-form-field>
    <input
    class="input"
    matInput
    type="text"
    name="imageUrl"
    ngModel
    placeholder="Image URL"
    #imageUrl="ngModel"
    />
    <mat-error *ngIf="imageUrl.invalid">
    Please enter a valid image URL.
    </mat-error>
</mat-form-field><br>
<img *ngIf="imageUrl.value" [src]="imageUrl.value" alt="Image Preview" class="image-preview" style="width: 200px; height: 130px;">
<!-- copy image address -->
<br>
<button mat-raised-button color="primary" type="submit">Save</button>

</form>
</mat-card>